{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>baabtra</h1>
    <img src="{% static 'images/image.jpg.jpg' %}" alt="error">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem debitis cumque mollitia. Blanditiis est nesciunt in quod nobis, consectetur sint itaque expedita unde necessitatibus aliquam. A minima commodi laboriosam Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, numquam corporis explicabo excepturi placeat ipsam voluptas voluptatibus dolore molestias facilis architecto cupiditate doloremque itaque ab recusandae qui! Pariatur, maiores dolorem.<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa animi tempora aperiam recusandae totam doloremque sapiente impedit? Libero, autem, odit ea asperiores sunt voluptate vel alias eveniet facere enim quos!/p>
    <h2>courses offered</h2>
    <p>there are many courses offered under baabtra </p>
</body>
</html>