<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mystyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>


<body>
    
<body>
    <div style="background-color: rgb(10, 10, 10);height: 700px;width: 1530;text-align: center;font-size: 40px;font-family: Georgia, 'Times New Roman', Times, serif;color: rgb(237, 230, 243);">
        APPLYING FOR LEAVE
         <div class="row" style="height: 500px;padding: 30px;">
           <div class="col-md-12" style="background-color: rgb(158, 177, 199);font-size: 25px;font-family: Georgia, 'Times New Roman', Times, serif;text-align: center;">
            
       
            <form>
                
                        <label>Employee_id:</label><br>
                        <input type="text"><br>
                        <label>Employee_name:</label><br>
                        <input type="text"><br>
                        <label>Application status</label><br>
                        <input type="text"><br>
                        <label>Leave type</label><br>
                        <input type="text"><br>
                  
                        <label>No of days</label><br>
                        <input type="number"><br>
                        
                  
               
            <div style="padding-bottom: 25px;">
            <button type="button" class="btn btn-success" style="margin-right: 90px;">APPLY</button>
            <button type="button" class="btn btn-warning" style="margin-right: 20px;">NEXT</button>
        </div>
    </div>
 </form>
    
</body>
</html>