<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mystyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
    <div style="background-color: rgb(97, 6, 6);height: 700px;width: 1530;text-align: center;font-size: 40px;font-family: Georgia, 'Times New Roman', Times, serif;color: rgb(237, 230, 243);">
    EMPLOYEE DETAILS
     <div class="row" style="height: 500px;padding: 30px;">
       <div class="col-md-12" style="background-color: rgb(19, 20, 13);font-size: 30px;font-family: Georgia, 'Times New Roman', Times, serif;">
        
    <div style="font-size: 20px;margin-right: 450px;">
        <form>
            <div class="row">
                <div class="col-lg-6">
                    <label>Employee_id:</label><br>
                    <input type="text"><br>
                    <label>Employee_name:</label><br>
                    <input type="text"><br>
                    <label>Password</label><br>
                    <input type="password"><br>
                    <label>Re-enter Password</label><br>
                    <input type="password"><br>
                    <label>Email-id</label><br>
                    <input type="email">
               </div>
               <div class="col-lg-6" style="margin-bottom: 200px;">
                    <label>DOB</label><br>
                    <input type="date"><br>
                    <label>DOJ</label><br>
                    <input type="date"><br>
                    <label>Department</label><br>
                    <input type="text"><br>
                    <label>Mobile</label><br>
                    <input type="number"><br><br>
                    <label>male</label> 
                    <input type="radio" name="gender">
                    <label>Female</label>
                    <input type="radio" name="gender">
                </div>
            </div>
           </div>
        </form>
        <div style="padding-bottom: 25px;">
        <button type="button" class="btn btn-success" style="margin-right: 50px;">APPLY</button>
        <button type="button" class="btn btn-warning" style="margin-right: 50px;">CLEAR</button>
        <button type="button" class="btn btn-danger" style="margin-right: 50px;">CANCEL</button>

    </div>

    </div>
   </div>
   
    
    
        
</div>
    
</body>
</html>